<div class="row">
	<div class="col-xs-12 text-center">
		<h1>Users</h1>
		<table class="table">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email Address</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="text-left">
				<tr ng-repeat="user in users.ngModel">
					<td ng-if="!user.editing">{{user.firstName}}</td>
					<td ng-if="!user.editing">{{user.lastName}}</td>
					<td ng-if="!user.editing">{{user.email}}</td>

					<td ng-if="user.editing">
						<input class="form-control" ng-model="user.firstName">
					</td>
					<td ng-if="user.editing">
						<input class="form-control" ng-model="user.lastName">
					</td>
					<td ng-if="user.editing">
						<input class="form-control" ng-model="user.email">
					</td>

					<td>
						<a class="btn btn-primary"
							ng-click="users.toggleEditing(user)" ng-if="!user.editing">
							Edit
						</a>
						<a class="btn btn-success"
							ng-click="users.toggleEditing(user)" ng-if="user.editing">
							Save
						</a>
						<a class="btn btn-danger"
							ng-click="users.delete(user)">
							Delete
						</a>
					</td>
				</tr >
			</tbody>
		</table>
	</div>
</div>